@font-face {
  font-family: 'bold';
  src: url("bbvaweb-book.eot");
  src: url("bbvaweb-book.eot?#iefix") format("embedded-opentype"), url("bbvaweb-book.woff") format("woff"), url("bbvaweb-book.ttf") format("truetype"), url("bbvaweb-book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'light';
  src: url("bbvaweb-light.eot");
  src: url("bbvaweb-light.eot?#iefix") format("embedded-opentype"), url("bbvaweb-light.woff") format("woff"), url("bbvaweb-light.ttf") format("truetype"), url("bbvaweb-light.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'regular';
  src: url("bbvaweb-medium.eot");
  src: url("bbvaweb-medium.eot?#iefix") format("embedded-opentype"), url("bbvaweb-medium.woff") format("woff"), url("bbvaweb-medium.ttf") format("truetype"), url("bbvaweb-medium.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
